{% extends 'base_generic.html' %}
{% block content %}
<form action="{% url 'PctMatrix' %}" method="post">
    {% csrf_token %}
    <button type="submit" name='mybtn2' value={{excel_path}}>Download PCT_Matrix</button>
   
</form>

<form action="{% url 'X_train' %}" method="post">
    {% csrf_token %}
    <button type="submit" name='mybtn1' value={{excel_path}}>Download X_train</button>
  
</form>
<form action="{% url 'X_test' %}" method="post">
    {% csrf_token %}
    <button type="submit" name='mybtn2' value={{excel_path}}>Download X_test</button>
   
</form>
<form action="{% url 'y_train' %}" method="post">
    {% csrf_token %}
    <button type="submit" name='mybtn2' value={{excel_path}}>Download y_train</button>
   
</form>
<form action="{% url 'y_test' %}" method="post">
    {% csrf_token %}
    <button type="submit" name='mybtn2' value={{excel_path}}>Download y_test</button>
   
</form>


<form action="{% url 'predict' %}" method="post">
    {% csrf_token %}
    <button type="submit" name='mybtn2' value={{excel_path}}>Predict!</button>
   
</form>

<div class='col-6'><a href="{% url 'home'%}">pick new stock to analyze?</a></div>
{% endblock%}